@using CricketStatsApplication.Models;

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TournamentModel

<div ng-app="CricketApp">
    @*<div>
        <ul>
            <li><a href="/#/Schedule">Route One</a></li>
            <li><a href="/#/routeTwo">Route Two</a></li>
            <li><a href="/#/routeThree">Route Three</a></li>
        </ul>
    </div>*@
    <div ng-controller="TournamentSchedulerCtrl">
        <table>
            <tr>
                <th>
                    <span>TeamId</span>
                </th>
                <th>
                    <span>TeamName</span>
                </th>
            </tr>
            <tr ng-repeat="team in Teams">
                <td>
                    {{ team.TeamId }}
                </td>
                <td>
                    {{ team.TeamName }}
                </td>
            </tr>
        </table>
    </div>
    <div ng-view></div>
</div>