@using CricketStatsApplication.Models;

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TournamentModel

<div ng-app="CricketApp">
    <div ng-controller="TournamentSchedulerCtrl">
        <div class="row">
            <div class="col-md-3">
                <span>TeamId</span>
            </div>
            <div class="col-md-3">
                <span>TeamName</span>
            </div>
        </div>
        <div ng-repeat="team in Teams" class="row">
            <div class="col-md-3">
                <span>{{ team.TeamId }}</span>
            </div>
            <div class="col-md-3">
                <span>{{ team.TeamName }}</span>
            </div>
        </div>
    </div>
    <div ng-view></div>
</div>