@using CricketStatsApplication.Models;

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TournamentModel

<div>
    <div>
        <table>
            <tr>
                <th>
                    <span>TeamId</span>
                </th>
                <th>
                    <span>TeamName</span>
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>
    </div>
</div>